.outerVideoHolder {
  position: relative;

  width: 100%;
  height: 100%;

  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .outerVideoHolder {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.endCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: #f7288c;
  color: white;
  border-radius: 10px;

  padding: 10px 10px 10px 10px;

  font-family: "ClashDisplay-Semibold";
  text-align: center;
  font-size: 32px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .endCard {
    padding: 8px 8px 8px 8px;
    font-size: 28px;
  }
}

.firstCardText {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;

  color: white;
  opacity: 0.72;

  font-family: "JetBrains-Regular";
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .firstCardText {
    font-size: 14px;
  }
}
