.cardWrapper {
  position: relative;
  padding-top: 14px;
  width: 100%;
}

.videoTitle {
  font-family: "ClashDisplay-Semibold";
  color: black;
  font-size: 24px;
  margin-bottom: 8px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .videoTitle {
    font-size: 20px;
  }
}

.nameBadgeBar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .nameBadgeBar {
    margin-bottom: 12px;
    gap: 8px;
  }
}

.nameLabel {
  font-family: "ClashDisplay-Medium";
  color: #f7288c;
  font-size: 16px;

  padding-left: 10px;
  padding-top: 6px;
  padding-right: 36px;
  padding-bottom: 6px;

  display: inline-block;
  background-color: #ffeaf3;
  border-radius: 12px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .nameLabel {
    font-size: 14px;
    font-family: "ClashDisplay-Medium";
    padding-left: 10px;
    padding-top: 6px;
    padding-right: 30px;
    padding-bottom: 6px;
  }
}

.descriptionLabel {
  font-family: "JetBrains-Regular";
  color: black;
  font-size: 14px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .descriptionLabel {
    font-size: 12.5px;
  }
}

.verifyContainer {
  position: relative;
  display: inline-block;
  background-color: #ffeaf3;
  margin-left: -36px;
  //height: 32px;
  // padding-top: 6px;
  // padding-bottom: 6px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .verifyContainer {
    margin-left: -32px;
  }
}

.verifyIcon {
  position: relative;
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

@media screen and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .verifyIcon {
    width: 14px;
    height: 14px;
  }
}

.playButton {
  position: relative;
  height: 28px;
  margin-left: 8px;

  appearance: none;
  background-color: inherit;
  border: 0;
  cursor: grab;

  transition: transform 0.2s ease-in-out;

  :hover {
    transform: scale(1.25);
    transition: transform 0.2s ease-in-out;
  }
}

.image {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: none;
}
