.grid {
  position: relative;
  display: inline-flex;
  justify-content: space-between;

  height: 100%;
  max-width: 90vw;
  min-width: 240px;
}

.outerContainer {
  position: absolute;
  width: 100vw;
  // height: 64px;
  max-height: 74px;
  //min-height: 40px;
  top: 0;
  text-align: center;
}

.swipeIcon {
  position: relative;
  height: 100%;
  opacity: 0.72;
}
